@import "fonts/aberniericonfont/index.css";

/*
fs = 16px
lh = 1.5

column = 100% / 18 = 5.55555%
gutter = 1.5em

16-column grid
----------------------------------------------------------------------------------------------------------------------
Margin   | #  1     2     3     4     5     6     7     8     9     10    11    12    13    14    15    16  |   Margin
5.55555% | %  6.25  12.5  18.75 25.0  31.25 37.5  43.75 50.0  56.25 62.5  68.75 75.0  81.25 87.5  93.75 100 | 5.55555%

8-column grid
----------------------------------------------------------------------
Margin   | #  1     2     3     4     5     6     7     8   |   Margin
5.55555% | %  12.5  25.0  37.5  50.0  62.5  75.0  87.5  100 | 5.55555%

4-column grid
----------------------------------------
Margin   | #  1   2   3   4   |   Margin
5.55555% | %  25  50  75  100 | 5.55555%
*/

*,
*:before,
*:after {-moz-box-sizing:border-box;-webkit-box-sizing:border-box;-ms-box-sizing:border-box;-o-box-sizing:border-box;box-sizing:border-box;}

body {
  font:300 100%/1.5 "Roboto", Helvetica, sans-serif;
}

/*img {max-width:100%;}
img[width] {width:auto;}
img[height] {height:auto;}*/

h1 .fn-and-photo {display:block; font-size:47%;}

img.avatar {display:inline-block; vertical-align:middle; width:1.5em; border-radius:99em; margin-right:.35em;}

h1, h2, h3, h4, h5, h6 {font-weight:inherit;}
h1, .h1 {font-size:270%; line-height:1.25;}
h2, .h2 {font-size:200%; font-weight:200;}
h3, .h3 {font-size:140%; font-weight:100;}
/*h3, .h3 {font-size:117%;}*/
/* lead dots */
h2, h3 {line-height:1.2; white-space:nowrap; overflow:hidden;}
h2:after, h3:after {line-height:1; font-size:10px; content:". . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .";}

a {color:inherit;}
a:not(:hover) {text-decoration:none;}
/*a[href^="javascript:"]:before {content:"▶";}*/

strong {font-weight:500;}

.visuallyhidden {position:absolute; overflow:hidden; clip:rect(0 0 0 0); height:1px; width:1px; margin:-1px; padding:0; border:0;}

body,
.c {margin:0 5.55555%;/*column*/}
.no-cc {
	width:112.49998593750175%; /* λ = 1 / (1 - 2*5.55555%) */
	margin-left:-6.249992968750878%; /* λ * 5.55555% */
	padding-left:6.249992968750878%;padding-right:6.249992968750878%;
}

.foot {clear:both; text-align:center; margin-top:2em;margin-bottom:2em; border-top:1px solid;}
