body {
  font:300 100%/1.5 "Roboto", Helvetica, sans-serif;
}

h1, h2, h3, h4, h5, h6 {font-weight:inherit;}
h1, .h1 {font-size:270%; line-height:1.25;}
h2, .h2 {font-size:162%;}
/*h3, .h3 {font-size:117%;}*/

a {color:inherit;}
a:not(:hover) {text-decoration:none;}
/*a[href^="javascript:"]:before {content:"▶";}*/

body {margin:0;}
.c {
	padding-left:5.55555%;padding-right:5.55555%; margin:0 auto;
}
@media (min-width:850px) {
	.c {
	  max-width:850px;
	}
}