/*
fs = 16px
lh = 1.5

column = 100% / 18 = 5.55555%
gutter = 1.5em

16-column grid
----------------------------------------------------------------------------------------------------------------------
Margin   | #  1     2     3     4     5     6     7     8     9     10    11    12    13    14    15    16  |   Margin
5.55555% | %  6.25  12.5  18.75 25.0  31.25 37.5  43.75 50.0  56.25 62.5  68.75 75.0  81.25 87.5  93.75 100 | 5.55555%

8-column grid
----------------------------------------------------------------------
Margin   | #  1     2     3     4     5     6     7     8   |   Margin
5.55555% | %  12.5  25.0  37.5  50.0  62.5  75.0  87.5  100 | 5.55555%

4-column grid
----------------------------------------
Margin   | #  1   2   3   4   |   Margin
5.55555% | %  25  50  75  100 | 5.55555%
*/

*,
:before,
:after {box-sizing:border-box;}

body {
  font:300 100%/1.5 "Roboto", Helvetica, sans-serif;
}

h1 span {display:block; font-size:47%;}

h1, h2, h3, h4, h5, h6 {font-weight:inherit;}
h1, .h1 {font-size:270%; line-height:1.25;}
h2, .h2 {font-size:162%;}
/*h3, .h3 {font-size:117%;}*/

a {color:inherit;}
a:not(:hover) {text-decoration:none;}
/*a[href^="javascript:"]:before {content:"▶";}*/

body {margin:0;}
.c {
	padding-left:.75em;/*gutter/2*/padding-right:.75em;/*gutter/2*/ margin:0 5.55555%;/*column*/
}