:root {
	--gutter:2em;
}

@media (prefers-color-scheme: dark) {
  body {background:#191919; color:#eee;}
}

@media print {
  @page {
    size:210mm 417mm;
  }

  .experiences li {break-inside:avoid;}

  .foot p.social {display:none;}
}

.www {letter-spacing:-.1em;}

h1 {line-height:1;}
h1 .role {font-weight:400;}

h1 {margin-bottom:0;}

.stack a {
  border:1px solid; padding:0 .5em; border-radius:10em;
}

.fn-and-photo {margin-bottom:.5em;}

@media (min-width:850px) {
  .cc {
    display:flex; flex-direction:column;
    min-height:100vh; justify-content: space-around;
  }

  main {display:flex; gap:var(--gutter);}
  .skills {
    flex:5;
  }
  .skills + * {
    flex:3;
  }
  .skills h2,
  .experiences h2 {margin-top:0;}
}

.experiences ol {list-style:none; padding-left:0;}
.experiences .h3 +p {margin-top:.25em;}
.experiences .range {
  display:inline-block; border:1px solid;padding:0 .35em;
}

.skills {counter-reset: rank;}
.skills h3:before {
  content:counter(rank, upper-latin) ". ";
  counter-increment:rank;
}

.education ol {list-style-position:inside; padding-left:0;}

.foot {margin-bottom:0;}

address p.contact {margin-bottom:0;}
address p.social {margin-top:0;}
