.cube,
.cube > .top,
.cube > .front,
.cube > .right,
.cube > .back,
.cube > .left,
.cube > .bottom {display:block; width:100px; height:100px;}
.cube {position:relative;}
.cube > .top,
.cube > .front,
.cube > .right,
.cube > .back,
.cube > .left,
.cube > .bottom {position:absolute; -webkit-backface-visibility:visible;}
.cube > .top    {-webkit-transform:rotateX( 90deg) translateZ( 50px);}
.cube > .front  {-webkit-transform:                translateZ( 50px);}
.cube > .right  {-webkit-transform:rotateY( 90deg) translateZ( 50px);}
.cube > .back   {-webkit-transform:rotateY(180deg) translateZ( 50px);}
.cube > .left   {-webkit-transform:rotateY(-90deg) translateZ( 50px);}
.cube > .bottom {-webkit-transform:rotateX(-90deg) translateZ( 50px) rotate(180deg);}

.cube > .top,
.cube > .front,
.cube > .right,
.cube > .back,
.cube > .left,
.cube > .bottom {-webkit-box-sizing:border-box; border:1px solid; background-color:orange;}