@import 'nib'

@import './mba';
@import './stabilo';
@import './cube';

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

filter()
  vendor('filter', arguments)
pointer-events()
  vendor('pointer-events', arguments)
transition-timing-function()
  vendor('transition-timing-function', arguments)

fluid-background-image(path)
    size = image-size(path)
    background-image:url(path); width:px2em(size[0]); height:px2em(size[1]);
    background-size:px2em(size[0]) px2em(size[1]);

/* http://www.zeldman.com/2012/03/01/replacing-the-9999px-hack-new-image-replacement/ */
image-replacement(path)
    text-indent:100%; white-space:nowrap; overflow:hidden;
    fluid-background-image(path)

nearestMultiple(i, j)
  // http://stackoverflow.com/questions/9280847/round-a-variable-up-to-the-next-closest-multiple-of-x
  return (ceil(i / j) * j);

// transparent mixin in order to have closest multiple font-size of $fs
/*font-size(x)
  if x in (inherit initial large larger medium small smaller x-large x-small xx-large xx-small)
    ret = x
  else
    ret = nearestMultiple(unit(x, ''), $fs)
    ret = unit(ret, unit(x))
    //p(ret)

  font-size:ret;*/

$fs = 16px
$lh = 1.5
$pp = 5.555555%;
$mww = 60%;
$pad = 1em;

html.no-js .js, html.js:not(.domready) .js, // hide elements that requires JS when JS is not available (or not ready)
html.js.domready .no-js // hide no-js elements when js become available
  display:none;

c()
  padding-left:$pp;padding-right:@padding-left; margin-left:auto;margin-right:auto;
  @media (min-width:1400px)
    max-width:$mww;
    padding-left:0;padding-right:@padding-left;
.c
  c();

wide()
  w = (100% * 100/(100 - $pp*2));
  width:w;
  margin-left:((100% - w)/2);
  @media (min-width:1400px)
    w = (100% * 100/$mww)
    width:w;
    margin-left:((100% - w)/2);
.wide
  wide()

/* http:/nicolasgallagher.com/micro-clearfix-hack */
cf()
  &:before,
  &:after
    content:" "; display:table;
  &:after
    clear:both

.cf
  cf();

px2em(x)
  1em * x / $fs
px2rem(x)
  1rem * x / $fs

nowrap()
  white-space:nowrap; word-spacing:-.25em;
  >*
    white-space:normal; word-spacing:normal;


// http://css-tricks.com/places-its-tempting-to-use-display-none-but-dont/
visuallyhidden()
  position:absolute;
  overflow:hidden; clip:rect(0 0 0 0);
  height:1px; width:1px;
  margin:-1px; padding:0; border:0;

.hidden,
.visuallyhidden
  visuallyhidden()

vcenter()
  height:100%; white-space:nowrap;word-spacing:-.25em;
  &:before
    content:"";display:inline-block;vertical-align:middle; width:0;height:100%;
  >*
    display:inline-block;vertical-align:middle; white-space:normal;word-spacing:normal;
.vcenter
  vcenter()

padheight(w, h)
  padding-top:(h/w);

  position:relative;
  >*
    position:absolute;left:0;right:0;top:0;bottom:0;

/*
 ######   ######## ##    ## ######## ########     ###    ##       
##    ##  ##       ###   ## ##       ##     ##   ## ##   ##       
##        ##       ####  ## ##       ##     ##  ##   ##  ##       
##   #### ######   ## ## ## ######   ########  ##     ## ##       
##    ##  ##       ##  #### ##       ##   ##   ######### ##       
##    ##  ##       ##   ### ##       ##    ##  ##     ## ##       
 ######   ######## ##    ## ######## ##     ## ##     ## ######## 
*/

/* http:/paulirish.com/2012/box-sizing-border-box-ftw */
*,
*:before,
*:after
  box-sizing:border-box;

:root
  font-size:$fs;

body
  margin:0;
  font:400 100%/$lh 'proximanova', Arial, sans-serif;
  -webkit-font-smoothing:antialiased;

a
  font:inherit; text-decoration:inherit; color:inherit;
    
  transition:color .3s;
  &:hover
    //text-decoration:underline;
html.touch a:hover
  text-decoration:none;

img,
svg,
video,
object {max-width:100%;}

.img {display:inline-block; background-position:center;background-size:cover; background-repeat:no-repeat;}
.img >img {display:block;width:100%;}

html.js .img >img {visibility:hidden;}

.img.contain {background-size:contain;}

input
  font:inherit;

.h {line-height:1.2;}

html.debug #camera * {box-shadow:none!important;}

html,body,#scene,#camera,.scroller {height:100%;}
.ftscroller_container,
.ftscroller_x, .ftscroller_y {overflow:visible;}
//.ftscroller_y {transform:none!important;}
html.debug .ftscroller_container {
  position:relative;
  &:before {
    content:"";display:block;position:absolute;left:0;right:0;top:0;bottom:0;
    box-shadow:0 0 0px 1px black inset;
    transform:translateZ(-1px);
  }
  &:after {
    content:".ftscroller_container";display:inline-block;position:absolute;left:0;top:0;
    box-shadow:0 0 0px 1px black inset;
    transform:translateZ(-1px);
  }
}

#camera
  //background:url("https://dl.dropbox.com/s/sw0qqg0j0qq8xng/grid.png?dl=1");
  //transition:transform 3s;
  html.debug
    box-shadow:0 0 0px 1px black inset;
    
#camera, #camera * {transform-style:preserve-3d;}

html.debug .light {width:10px;height:10px;border-radius:10px; background:yellow; transform:translateZ(-1000px);}

body {
  text-align:center;
  background-color:#9BC1C4;
}

canvas.debugDraw {background:rgba(0,0,0,.1);}

.pages {
  white-space:nowrap; display:inline-block;
  html:not(.debug) & {
    //background-image:url(http://www.transparenttextures.com/patterns/french-stucco.png);
    //background-image:url(http://www.transparenttextures.com/patterns/mooning.png);
    //background-image:url(http://www.transparenttextures.com/patterns/asfalt-light.png); background-size:233px;
  }
  html.debug & {border:1px solid;}
}
.pages >* {white-space:normal;}
.page {
  display:inline-block;vertical-align:top; width:100vw;
  html.debug & {border:1px solid yellow;}

}

.page2 {transform-origin:left top; transform:rotate3d(0,0,1,-30deg);}

.body {
  //height:100vh;
  cf();

  //background-color:#9BC1C4;
  color:white;
    
  //background:@background-color url("bg.jpg");
  /*#camera.cam3d & {
    background:transparent;
    &:before {
      content:"";display:block;width:500vw;height:@width;
      position:absolute;left:50%;top:50%;transform:translate3d(-50%,-50%,0) translateZ(1px);
      background:#9BC1C4 url("bg.jpg");
    }
  }*/
}


section
  //vcenter();
  c();
  
  h1 {font-size:500%; font-weight:100; margin-bottom:0; /*text-shadow:0px -1px 0px rgba(0,0,0,.35);*/}
  h1+p {margin-top:0; font-size:130%;}
  
  h1 {margin-top:10rem;}
  h1+p {margin-bottom:13rem;}
  
  .macbook
    margin-top:3rem;margin-bottom:@margin-top;
    
    @media (min-width:1024px)
      font-size:21%;
      
  .macbook
    html.debug & .shadow
      //display:none;
      
    /*.screen
      transition:transform .3s;
      transform:rotateX(10deg) translateZ(-1px);
    &:hover .screen
      transform:rotateX(120deg) translateZ(-1px);*/
  
  .macbook1
    //transform:rotateZ(3deg)
    .screen .face-one .display
      background:url("http://abernier.name/images/bpwww-altaglio-desktop.png") left top no-repeat; background-size:cover;
  
  .macbook2
    //transform:rotateZ(177deg)
    .screen .face-one .display
      background:url("http://abernier.name/images/bpwww-ccc-desktop.png") left top no-repeat; background-size:cover;
  
  .macbook3
    //transform:rotateZ(177deg)
    .screen .face-one .display
      background:url("http://abernier.name/images/bpwww-thekase-desktop.png") left top no-repeat; background-size:cover;

  .sheet
    display:block; width:17em; height:23.8em;
    background:white;
    &:before
      content:"";display:block;
      position:absolute;left:0;right:0;top:0;bottom:0; z-index:-1;
      box-shadow:0 0 .9px rgba(0,0,0,.15);

  .stabilo
    //position:absolute;top:58vh;left:50%;margin-left:-20em; transform:rotateX(-90deg) scale3d(.5,.5,.5) rotateY(0deg);
    stabilo(topcolor:#9BCB60);
    transform:translateZ(5px) scale3d(.15,.15,.15) rotateY(-90deg);
    @media (min-width:1024px)
      transform:translateZ(5px) scale3d(.4,.4,.4) rotateY(-90deg);
        
  .stabilo2
    //position:absolute;top:58vh;left:50%;margin-left:-20em; transform:rotateX(-90deg) scale3d(.5,.5,.5) rotateY(0deg);
      stabilo(topcolor:#D8F955);
    
  .macbooks-and-stabilos
    display:inline-block;
      
    position:relative;
    .stabilo1
      position:absolute; top:94%;left:-10%;
    .stabilo2
      position:absolute; top:98%;left:-5%;
    
    .sheets
      font-size:50%;
      @media (min-width:1024px)
        font-size:100%;
    .sheet
      position:absolute; right:119%;bottom:-1em; transform:rotate(-2deg);
      .sheet
        right:0;bottom:0;
        background:white url("http://static.squarespace.com/static/5101cc2ee4b0696772bf0809/511abb6ee4b0110f1eca9d58/511c29ace4b00307a2610b94/1360800174441/sketch6.jpg") center no-repeat; background-size:contain; transform:rotate(-2deg) translateZ(.1px);backface-visibility:hidden;
      
    

    
