$w = 150em
$h = 100em

.macbook {
  width: $w;
  height: $h;
  display:inline-block;
  transform:rotateX(180deg);
  position:relative;
  font-size:10%;
  .shadow {
  	width:100%;
  	height:100%;
    border-radius:round($w*.05); 
  	box-shadow: 0 0 ($w*.07) 0px rgba(black,.3);
  	//animation: shadow infinite 7s ease;
  }

	.inner {
    width:$w;height:$h; 
  	position:absolute;left:0;top:0; z-index:20;
  	transform-style: preserve-3d;
  	//transform:rotateX(-20deg) rotateY(0deg) rotateZ(0deg);
  	//animation: rotate infinite 7s ease;
	}
	.screen {
  	width:$w;
  	height:$h;
  	position:absolute;
  	left:0;bottom:0;
  	border-radius:round($w*.05);
  	background:#ddd;
  	transform-style:preserve-3d;
  	transform-origin:50% 100%;
  	transform:rotateX(100deg) rotateY(0deg) rotateZ(0deg) translateZ(-1px);
  	//animation: lid-screen infinite 7s ease;
  	background-image: linear-gradient(45deg, rgba(black,.34) 0%,rgba(black,0) 100%);
  	background-position:left bottom;
  	background-size:round(2*$w) round(2*$w);
  	box-shadow:inset 0 ($w*.02) ($w*.05) rgba(255,255,255,0.5);
	}
	.screen .logo {
  	position: absolute;
  	width:round($w*.13);
  	height:round($h*.25);
  	left:50%;top:50%;
  	transform: rotateY(180deg) translateZ(0.1px) translate(50%,-50%);
    backface-visibility:hidden; 
	}
	.screen .face-one {
  	width: $w;
  	height: $h;
  	position: absolute;
  	left: 0;
  	bottom: 0;
  	border-radius:round($w*.05);
  	background: #d3d3d3;
  	transform: translateZ(.1px);
  	background-image: linear-gradient(45deg,rgba(black,.24) 0%,rgba(black,0) 100%);
    backface-visibility:hidden; 
	}
	.screen .face-one .camera {
  	width:round($w*.02);
  	height:@width;
  	border-radius:100%;
  	background:#000;
  	position:absolute;
  	left:50%;
  	top:4%;
  	margin-left:-(@width/2);
	}
	.screen .face-one .display {
  	width:round($w*.87);
  	height:round($h*.77);
  	margin:round($w*.06666);
    background-color:#252525; 
  	//background:url("http://placehold.it/2560x1600") no-repeat center center #000;
  	background-size:cover;
  	border-radius:1px;
  	position:relative;
  	box-shadow:inset 0 0 ($w*.01) rgba(0,0,0,1);
    transform:rotateY(0deg) translateZ(1px);
	}
	.screen .face-one .display .shade {
  	position: absolute;
  	left: 0;
  	top: 0;
  	width:round($w*.87);
  	height:round($h*.77);
  	background: linear-gradient(-135deg, rgba(255,255,255,0) 0%,rgba(255,255,255,0.2) 47%,rgba(255,255,255,0) 48%);
  	//animation: screen-shade infinite 7s ease;
  	background-size:round($w*2) round($w*1.3333);
  	background-position:0px 0px;
	}
	.screen .face-one span {
  	position:absolute;
  	bottom:0;
  	left:50%; transform:translate(-50%,0) rotateY(180deg) translateZ(-1px);
  	font-size:round($w*.02);
  	color:#666;
   margin-bottom:1em; 
	}

	.body {
  	width:$w;
  	height:$h;
  	position:absolute;
  	left:0;
  	bottom:0;
  	border-radius:round($w*.05);
  	background: #cbcbcb;
  	transform-style: preserve-3d;
  	transform-origin:50% bottom;
  	//transform: rotateX(-90deg);
  	//animation: lid-body infinite 7s ease;
  	background-image: linear-gradient(45deg, rgba(0,0,0,0.24) 0%,rgba(0,0,0,0) 100%);
	}
	.body .face-one {
  	width: $w;
  	height: $h;
  	position: absolute;
  	left: 0;
  	bottom: 0;
  	border-radius:round($w*.05);
  	transform-style: preserve-3d;
  	background: #dfdfdf;
  	//animation: lid-keyboard-area infinite 7s ease;
  	transform:translateZ(-1px);
  	background-image: linear-gradient(30deg, rgba(0,0,0,0.24) 0%,rgba(0,0,0,0) 100%);
	}
	.body .touchpad {
  	width:round($w*.27);
  	height:round($h*.32);
  	position: absolute;
  	left:50%;
  	bottom:100%;margin-bottom:-3%;
    transform:translate(-50%, 100%); 
  	border-radius:round($w*.01);
  	background: #cdcdcd;
  	background-image: linear-gradient(30deg, rgba(0,0,0,0.24) 0%,rgba(0,0,0,0) 100%);
  	box-shadow: inset 0 0 ($w*.02) #888;
	}
	.body .keyboard {
    $kbdw = round($w*.8666666)
    $kbdh = round($h*.46)
    $kbdpad = ($w*.02);
    
  	width:$kbdw;
    height:$kbdh;
    padding:$kbdpad;
  	position:absolute;
    left:50%;
  	top:round($h*.42);
    transform:translate(-50%,0) rotateY(180deg) rotateX(180deg) translateZ(-1px);
  	border-radius:round($w*.02);
  	transform-style:preserve-3d;
  	background: #cdcdcd;
  	background-image: linear-gradient(30deg, rgba(0,0,0,0.24) 0%,rgba(0,0,0,0) 100%);
  	box-shadow:inset 0 0 round($w*.02) #777;
  	//padding:0 0 0 2px;
    
    .key {
      $keyw = (($kbdw - 2*$kbdpad)*(1/16));
      $keyh = (($kbdh - 2*$kbdpad)*(1/5));
      
      width:$keyw;
      height:$keyh;
      float: left;
      transform: translateZ(-1px);
      padding:($keyw*.1) ($keyw*.05);
      >.in {
        display:block;width:100%;height:100%;
        background: #444;
        border-radius:round($keyw*.1);
        box-shadow:0 -round($keyw*.05) 0 #222;
      }
        
    }
    .key.space {
     width:34.61%;
    }
    .key.f {
     height:($h*.05);margin-top:($h*.0125);
    } 
	}
	
	.body .pad {
  	width:round($w*.033333);
  	height:@width;
  	background:#333;
  	border-radius:@width;
  	position: absolute;
    backface-visibility:hidden; 
	}
	.pad.one {
  	left:round($w*.13333333);
  	top:round($h*.2);
	}
	.pad.two {
  	right:round($w*.13333333);
  	top:round($h*.2);
	}
	.pad.three {
  	right:round($w*.13333333);
  	bottom:round($h*.2);
	}
	.pad.four {
  	left:round($w*.13333333);
  	bottom:round($h*.2);
	}
}