stabilo(Rdefaut=1em, color=#F09000, topcolor=black)
  bodyratio=11.3/.35;
  $lengthdefault=Rdefaut*bodyratio;
  
  toplength=$lengthdefault*.223;
  bottomlength=$lengthdefault*.044;
  
  display:inline-block; width:(round(Rdefaut*1.414213562));height:@width;
  
  hexa(R=Rdefaut, $length=$lengthdefault, $bg=color)
    display:inline-block;
    >.in
      SCALE = 10
      R = R * SCALE
      $length = round($length * SCALE)
      font-size:(100% / SCALE);

      $h = round(R*2*cos(PI/3))
      $w = round(R*2*sin(PI/3))
      
      display:inline-block; width:(round($w*1.414213562));height:@width;

      .h,
      .f
        display:inline-block;
        height:$h
        background-color:$bg;
        //box-shadow:0 0 0 1px rgba(black,.7) inset;

      .h
        width:$length;
      .f
        width:$w;
      
      .f,
      .h
        position:absolute; left:0;top:0; //backface-visibility:hidden;

      .f1
        position:static;
      .f2
        transform:translateZ(($length)) rotateX(180deg)
      .h1
        transform:rotateY(-90deg) rotateX(180deg);transform-origin:left center;
      .h2
        transform:translateX(($w)) rotateY(-90deg);transform-origin:left center;

      .strip
        width:$w;height:$h; position:absolute;left:50%;top:50%; transform:translate(-($w/2),-($h/2));
      .strip2
        transform:translate(-($w/2),-($h/2)) rotateZ((1deg * 1*PI/3 * 180/PI)) translateZ(.1px);
      .strip3
        transform:translate(-($w/2),-($h/2)) rotateZ((1deg * 2*PI/3 * 180/PI)) translateZ(.1px);


  .hexa.bottom,
  .hexa.body,
  .hexa.top
    position:absolute;left:50%;top:50%; transform:translate(-50%,-50%);

  .hexa.bottom
    hexa(R:(Rdefaut*.75),$bg:topcolor,$length:bottomlength)
  .hexa.body
    hexa();
    transform:translate(-50%,-50%) translateZ((bottomlength));
    .h
      background-image:linear-gradient(white 0%, white 7%, transparent 7%, transparent 93%, white 93%, white 100%)
  .hexa.top
    hexa($bg:topcolor,$length:toplength)
    transform:translate(-50%,-50%) translateZ((bottomlength + $lengthdefault));
    